<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>First Case</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="806aaa">  <td>18/03/10 21:11:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.setUp()[pri:0, instance:Trendyol.TestCase@3f56875e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@931480286</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/10 21:11:48</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.testGooglePageTitleInIEBrowser()[pri:0, instance:Trendyol.TestCase@3f56875e]">testGooglePageTitleInIEBrowser</td> 
  <td>main@931480286</td>   <td></td> </tr>
</table>
