<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.FindImages()[pri:2, instance:Trendyol.TestCase@3e96bacf]">FindImages</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:34</td>   <td>-6034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.Login()[pri:1, instance:Trendyol.TestCase@3e96bacf]">Login</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:34</td>   <td>-6040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.afterMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:40</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.afterMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:47</td>   <td>7131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.afterMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:44:27</td>   <td>47212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.afterMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:44:42</td>   <td>62160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.afterMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:17</td>   <td>-22877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.beforeMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:34</td>   <td>-6035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.beforeMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.beforeMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:47</td>   <td>7131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.beforeMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:44:27</td>   <td>47212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.beforeMethod()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:47</td>   <td>7131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.goToAllTab()[pri:3, instance:Trendyol.TestCase@3e96bacf]">goToAllTab</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:44:27</td>   <td>47212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.goToAnyBoutique()[pri:4, instance:Trendyol.TestCase@3e96bacf]">goToAnyBoutique</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:17</td>   <td>-22877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.goToTrendyol()[pri:0, instance:Trendyol.TestCase@3e96bacf]">goToTrendyol</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="806aaa">  <td>18/03/15 10:43:11</td>   <td>-29013</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.setUp()[pri:0, instance:Trendyol.TestCase@3e96bacf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
</table>
