<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Any Name</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7ed3be">  <td>18/03/10 20:46:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.beforeMethod()[pri:0, instance:Trendyol.TestCase@6a2b953e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1301352406</td>   <td></td> </tr>
<tr bgcolor="7ed3be">  <td>18/03/10 20:46:57</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.f()[pri:0, instance:Trendyol.TestCase@6a2b953e]">f</td> 
  <td>main@1301352406</td>   <td></td> </tr>
<tr bgcolor="7ed3be">  <td>18/03/10 20:46:57</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.afterMethod()[pri:0, instance:Trendyol.TestCase@6a2b953e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1301352406</td>   <td></td> </tr>
</table>
